- if user_signed_in? && current_user.admin?
  .container-full
    %section.content
      .row
        .col-12
          .box
            .box-header.with-border
              %h4.box-title Users
            .box-body.no-padding
              .table-responsive
              %table
                %thead
                  %tr
                    %th Email
                    %th First Name
                    %th Last Name
                    %th Username
                    %th Mobile
                    %th Daily News
                    %th Actions
                %tbody
                  - @users.each do |user|
                    %tr
                      %td= user.email
                      %td= user.first_name
                      %td= user.last_name
                      %td= user.username
                      %td= user.mobile
                      %td= user.daily_news
                      %td= link_to 'Show', user_path(user.id)
