!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/user/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/user/css/main.css", rel: "stylesheet"}/
    %link{href: "/user/css/common.css", rel: "stylesheet"}/
    %link{href: "/user/fonts/fonts.css", rel: "stylesheet"}/
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "/user/slider/slick.css", rel: "stylesheet"}/
    %link{href: "/user/slider/slick-theme.css", rel: "stylesheet"}/
    %title TalentsVerse
  %body
    .overlay
    %header
      .container-fluid.d-flex.mt-1
        .menu-toggler{onclick: "ShowMenu()"}
          %img{src: "/user/img/default/menu.png"}/
        .logo-container
          %a{href: "/"}
            %img.logo-img{alt: "logo", src: "/user/img/default/Logo.png"}/
        .search-container.d-flex.justify-content-center.align-items-center.flex-1
          .seatch-box
            %label.d-flex.justify-content-start.align-items-center{for: "search"}
              %img{src: "/user/img/default/search-Icon.png"}/
              %input#search.search-input.w-100{placeholder: "Browse the Marketplace...", type: "text"}/
        .top-menu.d-flex.flex-1.justify-content-end.align-items-center
          .menu-items.h-100.d-none.d-lg-flex.justify-content-center.align-items-center
            %a.menu-item.px-2.px-xl-3{href: "/home/explore", class: "#{params[:page]=='explore' ? 'active' : ''}"}
              %span Explore
            %a.menu-item.px-2.px-xl-3{href: "/home/stats", class: "#{params[:page]=='stats' ? 'active' : ''}"}
              %span Stats
            %a.menu-item.px-2.px-xl-3{href: "/home/create", class: "#{params[:page]=='create' ? 'active' : ''}"}
              %span Create
            - if user_signed_in?
              = button_to 'Logout', destroy_user_session_path, class: 'menu-item px-2 px-xl-3 me-3 me-xl-5', method: :delete, data: { turbo_method: :delete }
          .menu-icons.d-flex.justify-content-center.align-items-center
            .user-icon.me-4
              %a{href: user_signed_in? ? '/home/profile' : '/users/sign_in'}
                %img{alt: "", src: "/user/img/default/Profile-Icon.png"}/
            .wallet-icon
              %img{alt: "", src: "/user/img/default/Wallet-Icon.png"}/
        .mob-menu
          .logo-container.d-flex.mob-logo.position-relative
            %a{href: "#link-1"}
              %img.logo-img{alt: "logo", src: "/user/img/default/Logo.png"}/
            .closeIcon{onclick: "closeMenu()"}
              %img.logo-img{alt: "logo", src: "/user/img/default/right-arrow.png"}/
          .menu-items
            %a.menu-item.active.px-2.px-xl-3{href: "/home/explore"}
              %span Explore
            %a.menu-item.px-2.px-xl-3{href: "/home/stats"}
              %span Stats
            %a.menu-item.px-2.px-xl-3{href: user_signed_in? ? '/home/profile' : '/users/sign_in'}
              %span Profile
            %a.menu-item.px-2.px-xl-3{href: "/home/create"}
              %span Create
            - if user_signed_in?
              = button_to 'Logout', destroy_user_session_path, class: 'menu-item px-2 px-xl-3 me-3 me-xl-5', method: :delete, data: { turbo_method: :delete }
    %section.nft_section
      .container-fluid.d-flex.p-0.nft_sectionInner
        .LeftSlider
          .NftSlider-2.slider-Outer
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
            %div
              .NFTSL_Box.d-flex.align-item-center
                .Nft_img.d-flex.align-items-center
                  %img{src: "/user/img/default/img-1.png"}/
        .RightContent
          %div
            .modHead.py-4.px-4
              .modLabel
                \#001
                %br/
                Moderator
              .d-flex.mt-3.align-items-center.justify-content-between
                .md_bottom
                  %span.me-3
                    %img{alt: "", src: "/user/img/default/moderate-img.png"}/
                  by Talentsverse
                .md_bottom Talinhos Collection
            .pt-5.py-4.px-4.mb-padding.graphOuter
              .graph_sec
                .graph_prg
                .graph_line
            .pt-5.py-4.px-4.mb-padding
              .about_Sec
                %h1.abt-label.color-3 About
                %p.abt-para
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            .priceStatusOuter.mb-padding.pt-3.py-3.px-4.by-5.d-flex.align-items-end.justify-content-between
              .priceStatus.d-flex
                .pricSec
                  %p.m-0.cp-label Current Price
                  %p.m-0.pr-lable.color-2 216,3
                .ms-3.me-4
                  %img.pr-img{alt: "", src: "/user/img/default/prImg.png"}/
                %div
                  %p.m-0.avg-label avg price
                  %p.m-0.avgPr-label.color-2.ms-3
                    16,3
                    %span
                      %img.avgPrImg{alt: "", src: "/user/img/default/prImg.png"}/
                  %p.m-0.prNum (124,648 USD)
              .timerStatus
                %span 21
                \:
                %span 53
                \:
                %span 04
            .pt-3.py-3.px-4.mb-padding
              .btnOuterSection.d-flex.justify-content-between.align-items-center
                .btn-outer-1.d-flex.flex-lg-row.flex-column.justify-content-start.align-items-center
                  %a.btn.px-5.py-2.mod-btn.btn-primary.bg-color-2.br-style-1.mb-3.mb-lg-0.me-lg-3.fw-6{href: "#link-6"} Buy now
                  %a.btn.px-5.py-2.mod-btn.btn-outline-primary.bg-white.br-style-2.fw-6{href: "#link-7"}
                    %span.color-2 Make Offer
                .btnsOuter.d-flex
                  .scImg.d-flex.justify-content-center.align-items-center.me-4
                    %img{alt: "", src: "/user/img/default/share.png"}/
                    %p.scNum.color-2 974
                  .scImg.d-flex.justify-content-center.align-items-center
                    %img{alt: "", src: "/user/img/default/heart.png"}/
                    %p.scNum.color-2 12354
            .pt-5.py-3.px-4.simiOuter.mb-padding
              .color-3.cl-label.mb-3 Similar NFTs
              .mb-3.d-flex.flex-wrap.deskBox
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
                .modBox
                  .SL_Box
                    .img-box
                      %img{src: "/user/img/default/img-1.png"}/
                    .text-box.w-100.d-flex.justify-content-between
                      .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                        %span.name-1 Talinhos
                        %strong.name-2 Moderator
                        %strong.name-3 #001
                      .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                        %span.name-4 654
                        %span.name-5.d-flex.align-items-center
                          16,320
                          %img.like-icon{src: "/user/img/default/like.png"}/
              .NFTslider-2-container.mobBox
                .NFTslider-2.slider-Outer
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
                  %div
                    .SL_Box
                      .img-box
                        %img{src: "/user/img/default/img-1.png"}/
                      .text-box.w-100.d-flex.justify-content-between
                        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
                          %span.name-1 Talinhos
                          %strong.name-2 Moderator
                          %strong.name-3 #001
                        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
                          %span.name-4 654
                          %span.name-5.d-flex.align-items-center
                            16,320
                            %img.like-icon{src: "/user/img/default/like.png"}/
            .pt-3.pt-3.px-4.simiOuter.mb-padding
              .color-2.cl-label Other Collections by Talentsverse
              .TC-outer.flex-wrap.d-flex.flex-row.justify-content-center.align-items-center.mt-4.mx-auto.TC-outerDesk-view
                .TC-item.d-flex.flex-column.align-items-between.me-md-4.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0
                          %small by
                        %p.mb-0.fs-18
                          %span Talentsverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
                .TC-item.d-flex.flex-column.align-items-between.me-md-4.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0.fs-18.mt-1
                          %span Diverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
                .TC-item.d-flex.flex-column.align-items-between.me-md-4.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0.fs-18.mt-1
                          %span Diverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
                .TC-item.d-flex.flex-column.align-items-between.me-md-4.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0
                          %small by
                        %p.mb-0.fs-18
                          %span Talentsverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
                .TC-item.d-flex.flex-column.align-items-between.me-md-4.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0.fs-18.mt-1
                          %span Diverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
                .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                  .TC-img
                    %img{src: "/user/img/default/trading.png"}/
                  .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                    .TC-details.d-flex.flex-column
                      .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                        %p.mb-0.fs-18
                          %strong Talinhos
                        %p.mb-0.fs-18.mt-1
                          %span Diverse
                    .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                      %small.flex-1.text-center 16,547 Views
                      %span.flex-1.text-center.color-2.fs-18 ...
                      %small.flex-1.text-center 1,414 Likes
              .mx-auto.TC-outerMob-view
                .container-fluid.my-3.slider-trend-container
                  .NFTslider-trend.slider-Outer
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
                    %div
                      .TC-item.d-flex.flex-column.align-items-between.mb-3.mb-lg-4
                        .TC-img
                          %img{src: "/user/img/default/trading.png"}/
                        .TC-details-outer.h-100.d-flex.flex-column.justify-content-between
                          .TC-details.d-flex.flex-column
                            .TC-1.d-flex.flex-column.justify-content-center.align-items-center.pt-3
                              %p.mb-0.fs-18
                                %strong Talinhos
                              %p.mb-0.fs-18.mt-1
                                %span Diverse
                          .TC-details.d-flex.flex-row.justify-content-center.align-items-center.pt-3.pb-3.pb-xl-4
                            %small.flex-1.text-center 16,547 Views
                            %span.flex-1.text-center.color-2.fs-18 ...
                            %small.flex-1.text-center 1,414 Likes
    %footer.bg-color-2.p-3
      .d-flex.flex-wrap.justify-content-center.align-items-center
        %a.footer-link.text-white{href: "#footer-1"} Link 1
        %a.footer-link.text-white{href: "#footer-2"} Link 2
        %a.footer-link.text-white{href: "#footer-3"} Link 3
        %a.footer-img-link.text-white{href: "#footer-7"}
          %img.footer-img{src: "/user/img/default/footer-logo.png"}/
        %a.footer-link.text-white{href: "#footer-4"} Link 4
        %a.footer-link.text-white{href: "#footer-5"} Link 5
        %a.footer-link.text-white{href: "#footer-6"} Link 6
    / Main Script Files START
    %script{src: "/user/js/jquery.js"}
    %script{src: "/user/js/bootstrap.min.js"}
    %script{src: "/user/js/bootstrap.bundle.min.js"}
    %script{src: "/user/slider/slick.js"}
    %script{src: "/user/slider/slider-setting.js"}
    %script{src: "/user/js/main.js"}
    / Main Script Files END
