- @nft_posts.each do |nft_post|
  .SL_Outer_Box
    .SL_Box
      = link_to user_nft_post_url(nft_post) do
        .img-box
          %img{src: "#{nft_post.attachment_url}"}/
      .text-box.w-100.d-flex.justify-content-between
        .text-box-left.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start
          %span.name-1
            = nft_post.title
          %strong.name-2
            = nft_post.category
          %strong.name-3
            = "##{nft_post.nft_offer_id}"
        .text-box-right.d-flex.flex-column.justify-content-end.align-items-end
          %span.name-4
            = nft_post.offer_amount
          %span.name-5.d-flex.align-items-center
            = nft_post.likes.count
            %img.like-icon{src: "/user/img/default/like.png"}/
