%header
  .container-fluid.d-flex.mt-1
    .menu-toggler{onclick: "ShowMenu()"}
      %img{src: "/user/img/default/menu.png"}/
    .logo-container
      %a{href: "/"}
        %img.logo-img{alt: "logo", src: "/user/img/default/Logo.png"}/
    .search-container.d-flex.justify-content-center.align-items-center.flex-1
      .seatch-box
        %label.d-flex.justify-content-start.align-items-center{for: "search"}
          %img{src: "/user/img/default/search-Icon.png"}/
          %input#search.search-input.w-100{placeholder: "Browse the Marketplace...", type: "text"}/
    .top-menu.d-flex.flex-1.justify-content-end.align-items-center
      .menu-items.h-100.d-none.d-lg-flex.justify-content-center.align-items-center
        = link_to 'Explore', explore_user_nft_posts_path, class: "menu-item px-2 px-xl-3"
        = link_to 'Create', new_user_nft_post_path, class: "menu-item px-2 px-xl-3"
        - if user_signed_in?
          = button_to 'Logout', destroy_user_session_path, class: 'menu-item px-2 px-xl-3 me-3 me-xl-5', method: :delete, data: { turbo_method: :delete }
      .menu-icons.d-flex.justify-content-center.align-items-center
        .user-icon.me-4
          = link_to user_profile_path do
            %img{alt: "", src: "/user/img/default/Profile-Icon.png"}/
        .wallet-icon
          %a{href: 'javascript:void(0)', id: 'wallet-icon'}
            %img{alt: "", src: "/user/img/default/Wallet-Icon.png"}/
    .mob-menu
      .logo-container.d-flex.mob-logo.position-relative
        %a{href: "#link-1"}
          %img.logo-img{alt: "logo", src: "/user/img/default/Logo.png"}/
        .closeIcon{onclick: "closeMenu()"}
          %img.logo-img{alt: "logo", src: "/user/img/default/right-arrow.png"}/
      .menu-items
        %a.menu-item.active.px-2.px-xl-3{href: "/home/explore"}
          %span Explore
        %a.menu-item.px-2.px-xl-3{href: "/home/stats"}
          %span Stats
        %a.menu-item.px-2.px-xl-3{href: user_signed_in? ? '/user/profile' : '/users/sign_in'}
          %span Profile
        %a.menu-item.px-2.px-xl-3{href: "/home/create"}
          %span Create
        - if user_signed_in?
          = button_to 'Logout', destroy_user_session_path, class: 'menu-item px-2 px-xl-3 me-3 me-xl-5', method: :delete, data: { turbo_method: :delete }
