!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://crypto-admin-templates.multipurposethemes.com/sass/bs5/images/favicon.ico", rel: "icon"}/
    %title Talents Verse
    / Vendors Style
    %link{href: "/admin/main/css/vendors_css.css", rel: "stylesheet"}/
    / Style
    %link{href: "/admin/main/css/style.css", rel: "stylesheet"}/
    %link{href: "/admin/main/css/skin_color.css", rel: "stylesheet"}/
    = javascript_importmap_tags
  %body.hold-transition.dark-skin.sidebar-mini.theme-warning.fixed
    .wrapper
      #loader
      = render partial: 'admin/shared/header'
      / Left side column. contains the logo and sidebar
      = render partial: 'admin/shared/side_bar'
      / Content Wrapper. Contains page content
      = yield
      / /.content-wrapper
      = render partial: 'admin/shared/footer'
      / Control Sidebar
      %aside.control-sidebar
        .rpanel-title
          %span.pull-right.btn.btn-circle.btn-danger
            %i.ion.ion-close.text-white{"data-toggle" => "control-sidebar"}
        / Create the tabs
        %ul.nav.nav-tabs.control-sidebar-tabs
          %li.nav-item
            %a.active{"data-bs-toggle" => "tab", href: "#control-sidebar-home-tab"}
              %i.mdi.mdi-message-text
          %li.nav-item
            %a{"data-bs-toggle" => "tab", href: "#control-sidebar-settings-tab"}
              %i.mdi.mdi-playlist-check
        / Tab panes
        .tab-content
          / Home tab content
          #control-sidebar-home-tab.tab-pane.active
            .flexbox
              %a.text-grey{href: "javascript:void(0)"}
                %i.ti-more
              %p Users
              %a.text-end.text-grey{href: "javascript:void(0)"}
                %i.ti-plus
            .lookup.lookup-sm.lookup-right.d-none.d-lg-block
              %input.w-p100{name: "s", placeholder: "Search", type: "text"}/
            .media-list.media-list-hover.mt-20
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-success{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/1.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Tyler
                  %p Praesent tristique diam...
                  %span Just now
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-danger{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/2.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Luke
                  %p Cras tempor diam ...
                  %span 33 min ago
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-warning{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/3.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Evan
                  %p In posuere tortor vel...
                  %span 42 min ago
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-primary{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/4.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Evan
                  %p In posuere tortor vel...
                  %span 42 min ago
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-success{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/1.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Tyler
                  %p Praesent tristique diam...
                  %span Just now
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-danger{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/2.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Luke
                  %p Cras tempor diam ...
                  %span 33 min ago
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-warning{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/3.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Evan
                  %p In posuere tortor vel...
                  %span 42 min ago
              .media.py-10.px-0
                %a.avatar.avatar-lg.status-primary{href: "#"}
                  %img{alt: "...", src: "/admin/images/avatar/4.jpg"}/
                .media-body
                  %p.fs-16
                    %a.hover-primary{href: "#"}
                      %strong Evan
                  %p In posuere tortor vel...
                  %span 42 min ago
          / /.tab-pane
          / Settings tab content
          #control-sidebar-settings-tab.tab-pane
            .flexbox
              %a.text-grey{href: "javascript:void(0)"}
                %i.ti-more
              %p Todo List
              %a.text-end.text-grey{href: "javascript:void(0)"}
                %i.ti-plus
            %ul.todo-list.mt-20
              %li.py-15.px-5.by-1
                / checkbox
                %input#basic_checkbox_1.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_1"}
                / todo text
                %span.text-line Nulla vitae purus
                / Emphasis label
                %small.badge.bg-danger
                  %i.fa.fa-clock-o
                  2 mins
                / General tools such as edit or delete
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5
                / checkbox
                %input#basic_checkbox_2.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_2"}
                %span.text-line Phasellus interdum
                %small.badge.bg-info
                  %i.fa.fa-clock-o
                  4 hours
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5.by-1
                / checkbox
                %input#basic_checkbox_3.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_3"}
                %span.text-line Quisque sodales
                %small.badge.bg-warning
                  %i.fa.fa-clock-o
                  1 day
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5
                / checkbox
                %input#basic_checkbox_4.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_4"}
                %span.text-line Proin nec mi porta
                %small.badge.bg-success
                  %i.fa.fa-clock-o
                  3 days
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5.by-1
                / checkbox
                %input#basic_checkbox_5.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_5"}
                %span.text-line Maecenas scelerisque
                %small.badge.bg-primary
                  %i.fa.fa-clock-o
                  1 week
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5
                / checkbox
                %input#basic_checkbox_6.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_6"}
                %span.text-line Vivamus nec orci
                %small.badge.bg-info
                  %i.fa.fa-clock-o
                  1 month
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5.by-1
                / checkbox
                %input#basic_checkbox_7.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_7"}
                / todo text
                %span.text-line Nulla vitae purus
                / Emphasis label
                %small.badge.bg-danger
                  %i.fa.fa-clock-o
                  2 mins
                / General tools such as edit or delete
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5
                / checkbox
                %input#basic_checkbox_8.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_8"}
                %span.text-line Phasellus interdum
                %small.badge.bg-info
                  %i.fa.fa-clock-o
                  4 hours
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5.by-1
                / checkbox
                %input#basic_checkbox_9.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_9"}
                %span.text-line Quisque sodales
                %small.badge.bg-warning
                  %i.fa.fa-clock-o
                  1 day
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
              %li.py-15.px-5
                / checkbox
                %input#basic_checkbox_10.filled-in{type: "checkbox"}/
                %label.mb-0.h-15{for: "basic_checkbox_10"}
                %span.text-line Proin nec mi porta
                %small.badge.bg-success
                  %i.fa.fa-clock-o
                  3 days
                .tools
                  %i.fa.fa-edit
                  %i.fa.fa-trash-o
          / /.tab-pane
      / /.control-sidebar
      / Add the sidebar's background. This div must be placed immediately after the control sidebar
      .control-sidebar-bg
    / ./wrapper
    / Sidebar
    #chat-box-body
      #chat-circle.waves-effect.waves-circle.btn.btn-circle.btn-lg.btn-primary.l-h-70
        #chat-overlay
        %span.icon-Group-chat.fs-30
          %span.path1
          %span.path2
      .chat-box
        .chat-box-header.p-15.d-flex.justify-content-between.align-items-center
          .btn-group
            %button.waves-effect.waves-circle.btn.btn-circle.btn-primary-light.h-40.w-40.rounded-circle.l-h-45{"data-bs-toggle" => "dropdown", type: "button"}
              %span.icon-Add-user.fs-22
                %span.path1
                %span.path2
            .dropdown-menu.min-w-200
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Color.me-15
                New Group
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Clipboard.me-15
                  %span.path1
                  %span.path2
                  %span.path3
                  %span.path4
                Contacts
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Group.me-15
                  %span.path1
                  %span.path2
                Groups
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Active-call.me-15
                  %span.path1
                  %span.path2
                Calls
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Settings1.me-15
                  %span.path1
                  %span.path2
                Settings
              .dropdown-divider
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Question-circle.me-15
                  %span.path1
                  %span.path2
                Help
              %a.dropdown-item.fs-16{href: "#"}
                %span.icon-Notifications.me-15
                  %span.path1
                  %span.path2
                Privacy
          .text-center.flex-grow-1
            .text-dark.fs-18 Mayra Sibley
            %div
              %span.badge.badge-sm.badge-dot.badge-primary
              %span.text-muted.fs-12 Active
          .chat-box-toggle
            %button#chat-box-toggle.waves-effect.waves-circle.btn.btn-circle.btn-danger-light.h-40.w-40.rounded-circle.l-h-45{type: "button"}
              %span.icon-Close.fs-22
                %span.path1
                %span.path2
        .chat-box-body
          .chat-box-overlay
          .chat-logs
            .chat-msg.user
              .d-flex.align-items-center
                %span.msg-avatar
                  %img.avatar.avatar-lg{src: "/admin/images/avatar/2.jpg"}/
                .mx-10
                  %a.text-dark.hover-primary.fw-bold{href: "#"} Mayra Sibley
                  %p.text-muted.fs-12.mb-0 2 Hours
              .cm-msg-text
                Hi there, I'm Jesse and you?
            .chat-msg.self
              .d-flex.align-items-center.justify-content-end
                .mx-10
                  %a.text-dark.hover-primary.fw-bold{href: "#"} You
                  %p.text-muted.fs-12.mb-0 3 minutes
                %span.msg-avatar
                  %img.avatar.avatar-lg{src: "/admin/images/avatar/3.jpg"}/
              .cm-msg-text
                My name is Anne Clarc.
            .chat-msg.user
              .d-flex.align-items-center
                %span.msg-avatar
                  %img.avatar.avatar-lg{src: "/admin/images/avatar/2.jpg"}/
                .mx-10
                  %a.text-dark.hover-primary.fw-bold{href: "#"} Mayra Sibley
                  %p.text-muted.fs-12.mb-0 40 seconds
              .cm-msg-text
                Nice to meet you Anne.
                %br>/
                How can i help you?
          / chat-log
        .chat-input
          %form
            %input#chat-input{placeholder: "Send a message...", type: "text"}/
            %button#chat-submit.chat-submit{type: "submit"}
              %span.icon-Send.fs-22
    / Page Content overlay
    / Vendor JS
    %script{src: "/admin/main/js/vendors.min.js"}
    %script{src: "/admin/main/js/pages/chat-popup.js"}
    %script{src: "/admin/assets/icons/feather-icons/feather.min.js"}
    %script{src: "/admin/assets/vendor_components/datatable/datatables.min.js"}
    %script{src: "/admin/main/js/pages/data-table.js"}
    / Crypto Admin App
    %script{src: "/admin/main/js/template.js"}
  / Mirrored from crypto-admin-templates.multipurposethemes.com/sass/bs5/main/members_list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Oct 2022 15:08:40 GMT
